.header{
  background-color: ;
  text-align: center;
}
.about-me {
  font-size: 20px;
  opacity: 50%;
}
.title {
  font-weight: bold;
  color: brown;
}
h1 {
  color: brown;
}
body {
  font-family: Georgia;
  background-image: url('https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png');
}
h2{
  color: gold;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  color: #FFF;
  display: inline-block;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0;
  padding: 20px 18px 10px 18px;
  text-transform: uppercase;
}

.navigation
{
  box-sizing: border-box;
  background-color: #3587A4;
  overflow: auto;
  padding: 18px 50px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;
  text-align: center;
}

body {
  background: #141E30;
  margin: 0;
  padding: 0;
  text-align: center;
  color: gray
}

p {
    color: white;
}

img {
    height: 200px;
    width: 200px;
    background-color: black;
}